@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

header {
    display: flex;
    flex-direction: row;
}

body {
    width: 90%;
    margin: 0 auto;
    background-color: white;
}
a:hover {
    color: red;
}

header>nav {
    display: flex;
    flex-direction: row;
}

header>nav>ul {
    display: flex;
    flex-direction: row;
}

header>:last-child {
    margin-left: auto;
}

header>nav>ul>li {
    margin: 0 3px 0 3px;
}

li {
    list-style: none;
}

hr {
    color: red;
}

form {
    display: flex;
    flex-direction: row;
}

form>table>tr>td{
    margin-right: 10px;
}
form>table>tr>td:last-child{
    margin-right: 0;
}
#footer {
    display: flex;
    flex-direction: column;
}

footer>nav {
    display: flex;
    flex-direction: row;
    /* background-color: yellowgreen; */
}

footer>nav>ul {
    display: flex;
    flex-direction: row;
}

footer>nav>ul>li {
    margin: 0 10px 0 10px;
}


h1,h2,h3,h4,label {
        color: black;
        font-family: 'Roboto';
        font-weight: 500;
    }
    
    a,p {
        color: black;
        font-family: 'Roboto';
        font-weight: 300;
    }
@media only screen and (max-width:1024px) {
    header {
        width: 100%
    }
    form {
        flex-direction: column;
    }
    #selection {
        display: flex;
        flex-direction: column;
    }
   
    main {
        width: 100%;
    }
    footer {
        width: 100%;
    }
}