@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.jobs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    width:100%;
}



header {
    display: flex;
    flex-direction: row;
}

body {
    width: 90%;
    margin: 0 auto; 
    background-color: white;
}
a:hover {
    color: red;
} 

header>nav {
    display: flex;
    flex-direction: row;
}

header>nav>ul {
    display: flex;
    flex-direction: row;
}

header>:last-child {
    margin-left: auto;
}

header>nav>ul>li {
    margin: 0 3px 0 3px;
}

li {
    list-style: none;
}

hr{
    border-color: red;
}

.copyright {
    color:red;
}

 form {
    width:100%;
    display: flex;
    flex-direction: row;
}


#footer {
    display: flex;
    flex-direction: column;
}

#teams,#locationdiv,#datediv {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    width:30%;
    
    
    } 


footer>nav {
    display: flex;
    flex-direction: row;
    
}
footer>nav>ul {
    display: flex;
    flex-direction: row;
    margin:0;
    margin-bottom: 2%;
    padding: 0;
}

footer>nav>ul>li {
    margin: 0 50px 0 0;
    
}

footer>p {
    text-align: center;
}

h1,h2,h3,h4,label {
        color: black;
        font-family: 'Roboto';
        font-weight: 500;
    }
    
    a,p {
        color: black;
        font-family: 'Roboto';
        font-weight: 300;
    }

    input{
        border-color:black;
    }
 @media only screen and (max-width:600px) {
    header {
        width: 100%;
     
    }
    .jobs {
        flex-direction: column;
        
    }
    #teams,#locationdiv {
       margin-bottom:2%;
       width:100%;
    }
   
    #datediv{
        width:30%;
        white-space: nowrap;
    }
    main {
        width: 100%;
    }
    footer {
        width: 100%;
    }
}