 header {
     display: flex;
     flex-direction: row;
 }
 
 body {
     width: 90%;
     margin: 0 auto;
     background-color: white;
 }
 a:hover {
    color: red;
}
 
 header>nav {
     display: flex;
     flex-direction: row;
 }
 
 header>nav>ul {
     display: flex;
     flex-direction: row;
 }
 
 header>:last-child {
     margin-left: auto;
 }
 
 header>nav>ul>li {
     margin: 0 3px 0 3px;
 }
 
 li {
     list-style: none;
 }
 
 #team,
 #team>* {
     display: flex;
     flex-direction: row;
 }
 
 #loremteam {
     margin-left: 2%;
 }
 
 #loremworkplace {
     margin-right: 2%;
 }
 
 #workplace,
 #workplace>* {
     display: flex;
     flex-direction: row;
 }
 
 hr {
     color: red;
 }
 
 footer {
     display: flex;
     flex-direction: column;
 }
 
 footer>nav {
     display: flex;
     flex-direction: row;
     /* background-color: yellowgreen; */
 }
 
 footer>nav>ul {
     display: flex;
     flex-direction: row;
 }
 
 footer>nav>ul>li {
     margin: 0 10px 0 10px;
 }
 
 div>div>img{
    height: 200px;
}

h1,h2 label {
    color: black;
    font-family: 'Roboto';
    font-weight: 500;
}

a,p {
    color: black;
    font-family: 'Roboto';
    font-weight: 300;
}
 @media only screen and (max-width:1024px) {
     header {
         width: 100%
     }
     #team {
         flex-direction: column;
     }
     #workplace {
         flex-direction: column-reverse;
     }
     div>div>img{
         height:initial;
     }
     main {
         width: 100%;
     }
     footer {
         width: 100%;
     }

    
 }