@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
body {
    width: 90%;
    margin: 0 auto;
    background-color: white;
}


/*header*/

header {
    display: flex;
    flex-direction: row;
}

header>nav {
    display: flex;
    flex-direction: row;
}

header>nav>ul {
    display: flex;
    flex-direction: row;
}

header>:last-child {
    margin-left: auto;
}

header>nav>ul>li {
    margin: 0 3px 0 3px;
}


/*graphical chater*/

h1,
label {
    color: black;
    font-family: 'Roboto';
    font-weight: 500;
}

a {
    color: black;
    font-family: 'Roboto';
    font-weight: 300;
}

a:hover {
    color: red;
}

input {
    border-color: black;
}

li {
    list-style: none;
}


/*form*/

main {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

input {
    margin-bottom: 20px;
    padding: 10px;
}

button {
    margin-bottom: 20px;
    padding: 10px;
}

hr {
    color: red;
}


/*footer*/

footer {
    display: flex;
    flex-direction: column;
}

footer>nav {
    display: flex;
    flex-direction: row;
    /* background-color: yellowgreen; */
}

footer>nav>ul {
    display: flex;
    flex-direction: row;
}

footer>nav>ul>li {
    margin: 0 10px 0 10px;
}

p {
    text-align: center;
}

@media only screen and (max-width:400px) {
    header {
        width: 20%
    }
    form {
        width: 20%;
    }
    footer {
        width: 20%;
    }
}